.home-page {
  margin-top: 75px;
  background-color: rgb(250, 248, 248);
}

.home-page .showcase {
  height: 70vh;
  padding: 20px;

  color: rgb(204, 120, 82);
  background-color: rgba(41, 41, 41, 0.418);

  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .showcase h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Playfair Display';
}

.home-page .showcase p {
  margin: 20px 0;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.582);
  text-align: center;
}

.home-page .favourites {
  padding: 20px;
  text-align: center;
}

.home-page .favourites h2 {
  font-family: 'Playfair Display';
  font-size: 30px;
  color: var(--coffee);
  margin: 20px 0;
}

.home-page .favourites .fave-menu-wrap {
  max-width: 960px;
  padding: 20px;

  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(34, 34, 34, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.favourites .fave-menu-wrap .fave-menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.home-page .favourites .fave-menu-wrap .see-all {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .home-page .showcase {
    padding: 50px;
    background-position: bottom center;
    background-size: unset;
    background-repeat: no-repeat;
  }

  .home-page .favourites .fave-menu-wrap {
    margin: 30px auto;
  }
}
