header {
  background-color: rgb(68, 2, 2);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo {
  font-size: 24px;
}

header ul .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

ul .nav-bar li {
  list-style: none;
}

ul .nav-bar li .nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

ul .nav-bar li .nav-link:hover {
  color: rgb(204, 120, 82);
}

ul .nav-bar .cart-link {
  display: flex;
  align-items: center;
}

ul .nav-bar .cart-link .nav-link {
  margin-top: 5px;
  font-size: 22px;
}

ul .cart-num {
  background: rgb(204, 120, 82);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  border-radius: 50%;

  position: absolute;
  top: 30%;
  right: 2%;
}

@media screen and (min-width: 768px) {
  header {
    padding: 20px 50px;
  }

  ul .nav-bar li .nav-link {
    margin-left: 30px;
  }
}
